body
{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}
.header
{
    float: right;
}
.search
{

}
.btn
{
src="https://c7.hotpng.com/preview/306/24/904/google-search-android-search-box-search-engine-optimization-loupe.jpg"
}
p
.footer
{

}
.footer
{

}
