

.header 
{
    float: right;
    font-size: 15px;
    
}

.header a, .header button
{
    margin:15px;
}
.header button
{
    border-style: solid;
    border-color:royalblue;
    border-top-left-radius: 1px ;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    background-color: royalblue;
    color: cornsilk;
    font-size: 15px;
    font-weight: bold;
    width: 85px;
    height:55px;
    
}

.logo-img
{
position: relative;
width: 500px;
height:200px;
margin: 50px;
}

.search input
{
height:40px;
width:444px;
border-bottom-left-radius: 25px;
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
border-top-right-radius: 25px;
box-shadow: transparent;
margin-top: 50px;
}
.btn button
{
margin-top: 10px;
width: 120px;
height: 45px;
background-color: lightgrey;
border-color:lightgray;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
border-style: none;
color: grey;
font-size: 12px;
}
.language
{
    font-size: 14px;
    margin-top: 10px;
}

.footer
{
    margin-top: 300px;
    box-sizing: border-box;
    border: lightslategray;
  font-size: 20px;
  color: gray;
  background-color: lightgray;
}
.p1
{
    position: absolute; 
}
.p2
{
    word-spacing: 20px;
    position: relative;

}
