body
{
    box-sizing: border-box ;
    margin-top: 0px;
    padding: 0px;
    
}

.header 
{
    float: right;
    
}
.header a, .header button
{
    margin: 15px;
}
.header button
{
    border-style: solid;
    border-color: blue;
    border-top-left-radius: 1px ;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    background-color: blue;
    color: cornsilk;
}
.main
{

}
.logo-img
{
    size:100px;
}
